section#footer
  .container
    .row.mp0
      .col-sm-4.mp0
        h3 Contacto
        ul
          li
            a(title="Telefono"
            href="tel:2923405033") 2923-405033
          li
            a(title="WhatsApp"
            href="https://wa.me/5492923464050") 2923-464050 (WhatsApp)
          li
            a(title="Email"
            href="mailto:centralvetpigue@gmail.com") centralvetpigue@gmail.com
          li
            a(title="Ciudad"
            href="https://www.google.com/maps/place/pigue,%20AR") Pigüé, Buenos Aires, AR
          li
            a(title="Dirección"
            href="https://www.google.com/maps/search/pigue%20san%20martin%20208") 25 de Mayo, 208, CP: 8170
      .col-sm-4.mp0
        h3 Redes
        ul
          li
            a(title="Facebook"
            href="https://www.facebook.com/centralvetpigue/"
            target="_blank"
            noopener
            noreferrer) Facebook
          li
            a(title="Instagram"
            href="https://www.instagram.com/centralvetpigue/"
            target="_blank"
            noopener
            noreferrer) Instagram
      .col-sm-4.mp0
        a(href="/")
          img#footer-logo.img-center.shadow(src="/img/logo-central-vet.jpg")
    .row.mp0
      .col-sm-12
        hr
        p.lead.text-center Médico Veterinario Guillermina Puente
script(src="/js/jquery.min.js")
script(src="/js/popper.min.js")
script(src="/js/bootstrap.min.js")

