-var sidebar_title = "CentralVet";
-var sidebar_link_HOME = "Veterinaria";
-var sidebar_dropdown_SERVICES = "Servicio";
-var sidebar_link_NOTICES = "Historias";
-var sidebar_dropdown_SHOP = "Tienda";
-var sidebar_link_CONTACT = "Contacto";

//- DISMISS
div#dismiss
  i.fa.fa-arrow-left
//- SIDEBAR HEADER
.sidebar-header.text-center
  h3
    span.navbar-brand
      img(src="/img/logo-central-vet.jpg"
        width="50"
        alt="logo") 
    !{heads.sidebar.title}
ul.list-unstyled.components
  p.text-center !{heads.sidebar.auth}
  //- HOME
  li(class=`!{session.path === "/" ? "active" : ""}`)
    a(href="/")
      i.fa.fa-home.mr-2(aria-hidden="true")
      !{heads.sidebar.home}
  //- ITEMS
  li(class=`!{(
     session.path == "/items/alimentos" ||
    session.path == "/items/farmacia" ||
    session.path == "/items/accesorios"
    ) ? "active" : ""}`)
    a.dropdown-toggle(href="#itemsSubmenu"
      data-toggle="collapse"
      aria-expanded="true"
      class="")
      i.fa.fa-shopping-cart.mr-2(aria-hidden="true")
      !{heads.sidebar.shop}
    ul#itemsSubmenu.collapse.list-unstyled
      each category, index in _categories && _categories.length ? _categories : [{name: "Sin resultados...", _id: "#"}]
        li.length
          a(href=`/items?category=${category._id}`) !{category.name}
  //- CONTACT
  li(class=`!{session.path === "/contact" ? "active" : ""}`)
    a(href="#contact")
      i.fa.fa-address-card.mr-2(aria-hidden="true")
      !{heads.sidebar.contact}
