//- index.jade
extends ./layout.jade

block content
  #container-fluid.home
    .row
      .col-sm-12.col-md-6
        h2 Clínica Veterinaria de Pequeños Animales
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      .col-sm-12.col-md-6
        img.img-fluid.img-center.shadow(src="/img/entrada.jpeg")
    //- _categories
    h3.mt-5.mb-2 Tienda
      span.btn.btn-info.btn-sm.action-admin.ml-2.mb-2(
        data-toggle="modal"
        data-target="#addCategory"
        title="Nueva Categoría"
      )
        i.fa.fa-plus
    .card-columns
      each category, index in _categories && _categories.length ? _categories : [""]
        div
          //- btn delete
          span.badge-admin-item.badge.badge-danger(
            onclick=`deleteByType("${category.name}", "categories", "${category._id}")`
          ) borrar
          //- btn edit
          span.badge-admin-item.badge.badge-info(style="margin-left: 50px;") 
            a(href=`${"/categories/"+category._id+"/edit"}`) editar
          //- card category
          a.card.category(href=`/items?category=${category._id}`)
            img.card-img-top(src=`${category.img || "https://placekitten.com/1000/300"}`)
            .cardbody
              h5.text-center.card-title.mt-4 !{category.name}
    //- _tags
    h3.mt-5.mb-2 Marcas
      span.btn.btn-info.btn-sm.action-admin.ml-2.mb-2(
        data-toggle="modal"
        data-target="#addTag"
        title="Nueva Marca"
      )
        i.fa.fa-plus
    .container-fluid
      .row
        each tag, index in _tags && _tags.length ? _tags : [""]
          .col-md-2.col-sm-3.col-6
            //- btn delete
            span.badge-admin-item.badge.badge-danger(
              onclick=`deleteByType("${tag.name}", "tags", "${tag._id}")`
            ) borrar
            //- btn edit
            span.badge-admin-item.badge.badge-info(style="margin-left: 50px;") 
              a(href=`${"/tags/"+tag._id+"/edit"}`) editar
            //- card tag
            a.card.tag(href=`/items?tag=${tag._id}`, title=`${tag.name}`)
              img.card-img-top(src=`${tag.img || "https://placekitten.com/1000/300"}`)
    //- services
    h3.mt-5.mb-2 Servicios
    #carouselExampleControls.carousel.slide(data-ride="carousel")
      .carousel-inner
        each slide, index in services
          if index == 0
            .carousel-item.active
              img.d-block.w-100(src=`${slide.img}`, alt=`${slide.title}`)
          else
            .carousel-item
              img.d-block.w-100(src=`${slide.img}`, alt=`${slide.title}`)
      a.carousel-control-prev(
        href="#carouselExampleControls"
        role="button"
        data-slide="prev")
        span.carousel-control-prev-icon(aria-hidden="true")
        span.sr-only Previous
      a.carousel-control-next(
        href="#carouselExampleControls"
        role="button"
        data-slide="next")
        span.carousel-control-next-icon(aria-hidden="true")
        span.sr-only Next



//-(src="https://img.freepik.com/foto-gratis/veterinario-que-comprueba-perro-estetoscopio-tabla-clinica-veterinario_23-2147928421.jpg?size=626&ext=jpg")
//-(src="https://img.freepik.com/foto-gratis/equipo-cirujanos-que-trabajan-supervision-paciente-sala-operaciones-quirurgica_50889-74.jpg?size=626&ext=jpg")
//-(src="https://www.petcuaria.com/media/zoo/images/Los_veterinarios_de_Espana_luchan_porque_la_vacuna_antirrabica_sea_obligatoria_en_el_pais_3e7f606d0ca5d3373196627fdc3d27b4.jpg")