doctype html
html(lang="es")
  head
    block title
      title Central-Vet Pigüé
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no")
    block meta
      meta(
        name="description"
        content="Clínica Veterinaria de Pequeños Animales.")
      meta(
        name="image"
        content="http://web-central-vet.herokuapp.com/img/entrada.jpeg")
    include ./includes/head.jade
    //- dinamic vars
    script.
      window.$user = !{ JSON.stringify(session && session.user ? session.user : null, undefined, 2).replace(/<\//g, "<\\/") }
      window.$path = !{ JSON.stringify(session && session.path ? session.path : null, undefined, 2).replace(/<\//g, "<\\/") }
      window.$query = !{ JSON.stringify(session && session.query ? session.query : null, undefined, 2).replace(/<\//g, "<\\/") }
      window.$categories = !{ JSON.stringify(_categories || [], undefined, 2).replace(/<\//g, "<\\/") }
      window.$tags = !{ JSON.stringify(_tags || [], undefined, 2).replace(/<\//g, "<\\/") }
  body
    .wrapper
      nav#sidebar
        include ./includes/sidebar.jade
      #content
        include ./includes/menu.jade
        include ./includes/alert.jade
        block content
      .overlay
    block scripts
    include ./includes/footer.jade
