div#addTag.modal.fade(tabindex="-1",role="dialog",aria-labelledby="modal-create",aria-hidden="true")
  div.modal-dialog(role="document")
    div.modal-content
      div.modal-header
        h5#modal-create.modal-title Crear Marca
        button.close(type="button",data-dismiss="modal",aria-label="Close")
          span(aria-hidden="true") &times;
      div.modal-body
        form(onsubmit='_addTag(event)')
          label Imagen
          div.form-group(style="background-color: #ccc")
            img#preview_tag.img-center
            input.form-control(
              onchange="onChangeImage(event, 'uploadValue_tag', 'urlImg_tag', 'preview_tag')"
              type="file"
              name="file"
              placeholder="Elije o arrastra una imagen..."
              drop-placeholder="Arrastra una imagen..."
              required)
            small.text-muted#uploadValue_tag
          input.form-group.form-control(
            id="urlImg_tag"
            type="text"
            name="img"
            placeholder="url img"
            disabled)
          label Categoria
          select.form-group.form-control.form-input.mr-2(
            name="category"
            required)
            option(disabled, selected) Seleccione...
            each category, index in _categories
              option(value=`${category._id}`) !{category.name}
          label Nombre
          input.form-group.form-control(
            type="text"
            name="tag"
            placeholder="nombre"
            required)
          input#addSubmitTag.btn.btn-info(type="submit",value="Guardar")
script.
  // add category - POST
  const _addTag = (event) => {
    event.preventDefault()
    // handle btn submit
    document.getElementById("addSubmitTag").value = "cargando..."
    document.getElementById("addSubmitTag").setAttribute("disabled", true)

    let tag = {
      name: event.target.tag.value,
      img: event.target.img.value,
      category: event.target.category.value
    }

    fetch('/api/tags', {
      method: 'POST',
      body: JSON.stringify({ tag: tag }),
      headers:{
        'Content-Type': 'application/json'
      }
    })
    .then(res => {
      return res.json()
    })
    .then(res => {
      if (res.success) {
        // reset form values
        event.target.reset()
        // reset btn submit
        document.getElementById("addSubmitTag").value = "Guardar"
        document.getElementById("addSubmitTag").removeAttribute("disabled")
        alert("Marca creada!")
        window.location.reload()
        return
        //return getCategories()
      }
      alert("res", res)
    })
    .catch(err => {
      alert("err", err)
    })
  }