div#addItem.modal.fade(tabindex="-1",role="dialog",aria-labelledby="modal-create",aria-hidden="true")
  div.modal-dialog(role="document")
    div.modal-content
      div.modal-header
        h5#modal-create.modal-title Crear Producto
        button.close(type="button",data-dismiss="modal",aria-label="Close")
          span(aria-hidden="true") &times;
      div.modal-body
        form(
          onsubmit="addItem(event)")
          div.form-group
            img#preview.img-center
            input.form-control(
              onchange="onChangeImage(event)"
              type="file"
              name="file"
              placeholder="Elije o arrastra una imagen..."
              drop-placeholder="Arrastra una imagen..."
              required)
            small.text-muted#uploadValue
          input.form-group.form-control(
            style="display: none;"
            id="urlImg"
            type="text"
            name="img"
            placeholder="url img"
            disabled)
          input.form-group.form-control(
            type="text"
            name="title"
            placeholder="Nombre del producto"
            required)
          input.form-group.form-control(
            type="text"
            name="desc"
            placeholder="Descripcion"
            required)
          input.form-group.form-control(
            type="number"
            name="price"
            placeholder="Precio de venta"
            step="0.05"
            required)
          input.form-group.form-control(
            type="number"
            name="qty"
            placeholder="Cantidad en stock"
            required)
          input#addSubmit.btn.btn-primary(type="submit",value="Guardar")
