extends ../layout.jade

block content
  #container-fluid.col-md-6
    h3#modal-create.modal-title Editar !{item.title}
    form(onsubmit='editItem(event)')
      //- category
      label Categoria
      select.form-group.form-control.form-input.mr-2(
        id="category_edit"
        name="category"
        required)
        each category, index in _categories
          if category._id == String(item.category._id)
            option(value=`${category._id}`, selected) !{category.name}
          else
            option(value=`${category._id}`) !{category.name}
      //- tag
      label Marca
      select.form-group.form-control.form-input.mr-2(
        id="tag_edit"
        name="tag"
        required)
        each tag, index in _tags
          if tag._id == String(item.tag._id)
            option(value=`${tag._id}`, selected) !{tag.name}
          else
            option(value=`${tag._id}`) !{tag.name}
      label Imagen
      div.form-group(style="background-color: #ccc")
        //- img preview
        img#preview_item_edit.img-center(src=`${item.img}`)
        //- img file
        input.form-co_editntrol(
          onchange="onChangeImage(event, 'uploadValue_item_edit', 'urlImg_item_edit', 'preview_item_edit')"
          type="file"
          name="file"
          placeholder="Elije o arrastra una imagen..."
          drop-placeholder="Arrastra una imagen...")
        small.text-muted#uploadValue_item_edit
      //- img text
      input.form-group.form-control(
        value=`${item.img}`
        id="urlImg_item_edit"
        type="text"
        name="img"
        placeholder="url img"
        disabled)
      //- title
      label Detalles
      input.form-group.form-control(
        value=`${item.title}`
        id="title_item_edit"
        type="text"
        name="title"
        placeholder="Nombre del producto"
        required)
      //- desc
      input.form-group.form-control(
        value=`${item.desc}`
        id="desc_item_edit"
        type="text"
        name="desc"
        placeholder="Descripcion"
        required)
      //- price
      input.form-group.form-control(
        value=`${item.price}`
        id="price_item_edit"
        type="number"
        name="price"
        placeholder="Precio de venta"
        step="0.05"
        required)
      //- qty
      input.form-group.form-control(
        value=`${item.qty}`
        id="qty_item_edit"
        type="number"
        name="qty"
        placeholder="Cantidad en stock"
        required)
      input#addSubmit_edit.btn.btn-primary(type="submit",value="Guardar")
  script.
    const editItem = (event) => {
      event.preventDefault()
      // handle btn submit
      document.getElementById("addSubmit_edit").value = "cargando..."
      document.getElementById("addSubmit_edit").setAttribute("disabled", true)

      let item = {
        category: event.target.category.value,
        img: event.target.img.value,
        title: event.target.title.value,
        desc: event.target.desc.value,
        price: Number(event.target.price.value),
        qty: Number(event.target.qty.value),
        tag: event.target.tag.value
      }

      fetch(`/api/items/!{item._id}/edit`, {
        method: 'POST',
        body: JSON.stringify(item),
        headers:{
          'Content-Type': 'application/json'
        }
      })
      .then(res => {
        return res.json()
      })
      .then(res => {
        if (res.success) {
          alert("Producto editado!")
          return window.location.replace("/")
        }
        alert("res", res)
      })
      .catch(err => {
        alert("err", err)
      })

    }