extends ../layout.jade

block content
  //- dinamic vars
  script.
    window.$item = !{JSON.stringify(item).replace(/<\//g, "<\\/")}
  //- breadcrumbs
  section#breadcrumb.container
    nav(aria-label="breadcrumb")
      ol(class="breadcrumb")
        li.breadcrumb-item
          a(href="/") Inicio
        li.breadcrumb-item
          a(href="/items") Productos
        li.breadcrumb-item.active(aria-current="page") !{item.title}
  //- contents
  section#main.container
    .card.shadow
      .row.mp0
        .col-md-6.mp0
          img.img-center.img-view.card-img-top(src=`${item.img}`)
        .col-md-6.mp0
          div.card-body
            h5.card-title.title-view !{item.title}
            p.lead.price-view $ !{item.price}
            form(onsubmit=`checkout(event, window.$item)`)
              .form-group
                .input-group
                  .input-group-prepend
                    sapn.input-group-text Cantidad: 
                  input.form-control(onchange=`qtyChange(event)`
                    type="number"
                    name="qty"
                    min="1"
                    value="1"
                    max=`${item.qty}`)
                small.text-muted.text-right(style="display: inherit") (!{item.qty} disponibles)
              input#checkoutBtn.btn.btn-vete.btn-sm.mr-2(
                type="submit"
                value="Comprar ahora")
            form(onsubmit=`addToCart(event, window.$item)`)
              input#cart_qty.form-control(style="display: none;"
                type="number"
                name="cart_qty"
                value="1"
                max=`${item.qty}`)
              button#addToCartBtn.btn.btn-warning.btn-sm.mt-2(
                type="submit") Agregar al carrito
            img(src="/img/MP-payButton-logos.png")
            hr
            p.lead Descripción:
            p !{item.desc}
  script(src="/js/items/one.js")
