extends ../layout.jade

block content
  //- dinamic vars
  script.
    window.$item = !{JSON.stringify(item).replace(/<\//g, "<\\/")}
  //- contents
  section#main.container
    .card.shadow.mb-4
      .row
        .col-md-6
          div.card-body
            h5.card-title !{item.title}
            h1.lead-vete $ !{item.price}
            form(onsubmit=`checkout(event, window.$item)`)
              .form-group
                .input-group
                  .input-group-prepend
                    sapn.input-group-text Cantidad: 
                  input.form-control(onchange=`qtyChange(event)`
                    type="number"
                    name="qty"
                    min="1"
                    value="1"
                    max=`${item.qty}`)
                small.text-muted.text-right(style="display: inherit") (!{item.qty} disponibles)
              input#checkoutBtn.btn.btn-vete.btn-sm.btn-block.mr-2(
                type="submit"
                value="Comprar ahora")
            form(onsubmit=`addToCart(event, window.$item)`)
              input#cart_qty.form-control(style="display: none;"
                type="number"
                name="cart_qty"
                value="1"
                max=`${item.qty}`)
              button#addToCartBtn.btn.btn-info.btn-sm.btn-block.mt-2(
                type="submit") Agregar al carrito
            img.img-center.mt-3(src="/img/MP-payButton-logos.png")
            hr
            p.lead Descripción:
            p !{item.desc}
        .col-md-6
          img.img-center.img-view.card-img-bottom(src=`${item.img}`)
  script(src="/js/items/one.js")
